USE [master]
GO
/****** Object:  Database [dbturno]    Script Date: 06/08/2024 17:17:02 ******/
CREATE DATABASE [dbturno]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbturno', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbturno.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbturno_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbturno_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbturno].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbturno]
GO
/****** Object:  Table [dbo].[agencia]    Script Date: 06/08/2024 17:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agencia](
	[agid] [int] IDENTITY(1,1) NOT NULL,
	[agnombre] [nvarchar](300) NULL,
	[agfecha] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[agid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[area]    Script Date: 06/08/2024 17:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[anombre] [nvarchar](200) NULL,
	[aicon] [ntext] NULL,
	[agid] [int] NULL,
	[afecha] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario]    Script Date: 06/08/2024 17:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[ucedula] [nvarchar](11) NULL,
	[unombres] [nvarchar](100) NULL,
	[uapellidos] [nvarchar](100) NULL,
	[ucorreo] [nvarchar](100) NULL,
	[ufecha] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[area]  WITH CHECK ADD FOREIGN KEY([agid])
REFERENCES [dbo].[agencia] ([agid])
GO
USE [master]
GO
